.signup-form {
    text-align: center;
    align-items: center;
    padding: 2rem;
    font-family: "Comfortaa", sans-serif;
  }

  .signup-text, .signup-input, .signup-button {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    color: #ffffff;
}
  
  .signup-text {
    margin-top: 3rem;
    margin-bottom: 1rem;
    line-height: 2rem;
  }
  
  .signup-input {
    color: #232aed;
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 25px;
    border: 1px solid #00c1db;
    width: 50%;
  }

  .signup-input::placeholder {
    color: #232aed;
    opacity: 0.5;
  }
  
  .signup-button {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    border-radius: 7px;
    background-color: #ff1900;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup-button:hover {
    background-color: #19c072;
  }

  .privacy-policy {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 0.8rem;
    color: #f7f7f7;
  }
  
  .privacy-policy input[type="checkbox"] {
    margin-right: 1rem;
    color: aqua;
  }
  
  .privacy-policy a {
    color: #85e4ff;
    text-decoration: none;
  }
  
  .privacy-policy a:hover {
    text-decoration: underline;
  }


  @media screen and (max-width: 768px) {
    .signup-text {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
      }

    .signup-text, .signup-input, .signup-button {
        font-size: 1rem;
    }

    .signup-input {
        margin: 0.75rem auto;
        padding: 1rem;
        width: 85%;
      }

      .signup-button {
        margin-top: 1rem;
      }
  }