.main-title {
    font-size: 3rem;
    text-align: center;
    margin: 1rem 0;
    color: #333;
    background-color: #f7f7f75f;
    font-weight: 700;
    letter-spacing: -2px;
    position: relative;
    z-index: 3;
  }

  @media screen {
    .main-title {
        font-size: 2rem;
      }
  }