.code-link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-family: 'Roboto Mono', monospace;
    z-index: 1;
    color: #444;
    transition: scale 1s ease-out;
    background-color: rgba(0, 7, 104, 0.654);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.685);
    padding: 1rem 0.25rem;
    margin: 3rem auto;
    border-radius: 25px; 
    width: 13rem;
    position: relative;
    bottom: 0;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.code-link-container:hover {
    scale: 0.9; 
}

.code-link-container svg {
    width: 42px;
    height: auto;
    fill: currentColor;
    transition: color 1s ease-out;
}

.code-link-container p {
    margin: 0;
    font-size: x-small;
    padding: 0.5rem;
}

.code-link-container a {
    color: rgba(255, 255, 255, 0.7);
    transition: color 1s ease-out;
}

.code-link-container a:hover {
    text-decoration: none;
    color: #fce149;
}

.code-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 768px) {
    .code-link-container {
        padding: 0.75rem 0.1rem;
        margin-top: 1rem;
    }
}