#root {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: auto;
}

.content {
  min-height: 600px;
}

  @media screen and (max-width: 768px) {
    .content {
      min-height: 600px;
    }
  }